body, html {
	margin: 0;
	padding: 0;
	background-color: #C0C0C0;
}

.front-page-img {
    background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url(/front-page.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron {
	margin-bottom: 0;
}


.navbar-brand img {
	width: 42px;
}

a, .btn-link {
	color: #ed977a;
}

a:hover, .btn-link:hover {
	color: #ec1046;
}

h1, h2, h3, h4, card-title, text-primary, h2 a {
	color: #ec1046;
}

h1, h2 {
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}

h3, h4 {
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.display-2 {
	font-weight: 500;
}

.btn:focus, .btn:active {
	box-shadow: 0 0 0.5rem rgba(205, 119, 90,.5) !important;
}

.bg-primary, .btn-primary {
	background: #ed977a !important;
	border-color: #cd775a !important;
}

.btn-primary:hover, .btn-primary:active {
	background: #ec1046;
}

.btn-outline-primary {
	color: #ed977a;
	border-color: #ed977a;
}

.btn-outline-primary:hover {
	color: #FFFFFF;
	background: #ed977a !important;
	border-color: #ed977a;
}

.heading, .card {
	background: #F9F9F9;
	border-color: #A0A0A0;
	box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}

.d-lg-flex>.card {
	width: 20rem;
	display: inline-block;
	margin: none !important;
}

.carousel-item {
	height: 200px;
}

@media (min-width: 576px) {
	.carousel-item {
		height: 200px;
	}

}

@media (min-width: 768px) {
	.carousel-item {
		height: 300px;
	}
}

@media (min-width: 992px) {
	.carousel-item {
		height: 400px;
	}
}

@media (min-width: 1200px) {
	.carousel-item {
		height: 600px;
	}
}

.carousel-item img {
	vertical-align: middle;
}

.card {
	margin: 1rem;
}

a .card:hover, .own-review {
	background: #E0E0E0;
}

.own-review {
	border-radius: 6px;
}

.own-review .col-md-10 {
	padding-top: 1rem;
}

.card-img-top {
	margin: 0;
}

.restaurant-image {
	height: 150px;
	overflow: hidden;
}

.search-result {
	text-decoration: none !important;
}

.remove_tag_button {
	color: white;
}

#error-container {
	background: #F9F9F9;
	max-width: 32rem;
	text-align: center;
	margin: 1rem;
	padding: 1rem;
	border-radius: 10px;
	border-width: 2px;
	border-color: #303030;
	box-shadow: 0 3px 0.2rem rgba(0,0,0,0.25);
}

#error-container p, #error-container h1 {
	font-family: sans-serif;
}
